.terraform.lock.hcl
.vagrant
Downloads
Tools
authorized_keys
k8s_cluster_token.sh
k8s-playground-ca.crt
kubectl_config
osd_disk_?.vdi
terraform.tfstate
terraform.tfstate.backup
terraform-provider-*
Playground/DockerImages/
Playground/Helm/Cert-Manager/root-ca
Playground/Helm/ToDos
Playground/Yamls/Deployments/default-nginx-playground.yaml
Playground/Yamls/Deployments/docker-repo-secret.yaml
Playground/Yamls/Deployments/fluent_bit.yaml
Playground/Yamls/Deployments/mediawiki.yaml
Playground/Yamls/Deployments/mysql.yaml
Playground/Yamls/Deployments/pvc-try-me.yaml
Playground/Yamls/Rook-Ceph
Shared_between_nodes/*
